# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# IDEs
.idea/

# Git
.git/
.gitignore

# Environment
.env

# Uploaded files
uploads/

# Python caches
.pytest_cache/
.mypy_cache/

# Hugging Face cache
.cache/
huggingface/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Demo Video
Demo_Video.mp4