# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# IDE
.idea/


# Pytest / mypy
.pytest_cache/
.mypy_cache/

# Hugging Face cache
.cache/
huggingface/

# OS files
.DS_Store
Thumbs.db